.a{
    background-color: aqua;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0px 0px 40px 0px ;
    -webkit-border-radius: 0px 0px 40px 0px ;
    -moz-border-radius: 0px 0px 40px 0px ;
    -ms-border-radius: 0px 0px 40px 0px ;
    -o-border-radius: 0px 0px 40px 0px ;
}
.b{
    background-color: brown;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0px 0px 30px 0px ;
    -webkit-border-radius: 0px 0px 30px 0px ;
    -moz-border-radius: 0px 0px 30px 0px ;
    -ms-border-radius: 0px 0px 30px 0px ;
    -o-border-radius: 0px 0px 30px 0px ;
}
.c{
    background-color: rgb(143, 62, 105);
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0px 0px 20px 0px ;
    -webkit-border-radius: 0px 0px 20px 0px ;
    -moz-border-radius: 0px 0px 20px 0px ;
    -ms-border-radius: 0px 0px 20px 0px ;
    -o-border-radius: 0px 0px 20px 0px ;
}
.d{
    background-color: rgb(114, 3, 3);
    width: 170px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px 50px 10px 50px ;
    -webkit-border-radius: 10px 50px 10px 50px ;
    -moz-border-radius: 10px 50px 10px 50px ;
    -ms-border-radius: 10px 50px 10px 50px ;
    -o-border-radius: 10px 50px 10px 50px ;
}
.e{
    background-color: rgb(223, 238, 84);
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 8px;
    border-bottom-left-radius:8px ;

}
.f{
    background-color: rgb(13, 146, 255);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}