/* 1.
.parrafo{
    font-size: 200%; ;
}
*/

/* 2.
.parrafo{
    font-size: 75%; ;
}
*/

/* 3.
hr{
    width: 50%;
}

*/
/* 4.
.parrafo2{
    width: 50%;
    border: black 1px solid;
}
hr{
    width: 50%;
}

*/
/* 5.
.parrafo2{
    border: black 2px solid;
    font-size:150%;
}
*/

/* 6.
.parrafo2{
    border: black 1px solid;
    font-size: 150%;
}
.parrafo{
    font-size: 160%;
}
*/

/* 7.
.parrafo2{
    border: black 2px solid;
    font-size: 1.5em;
}
.parrafo{
    font-size: 1.5em;
}

*/
/* 8.
.parrafos{
    background-color: lightgray;
    width: 50vw;
    height: 50vh;
}
*/
/* 9. */
p.min{
    background-color: lightgray;
    width: 50vw;
    height: 50vh;
}
p.max{
    background-color: lightgray;
    width: 50vw;
    height: 50vh;
}